@charset "UTF-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: linear-gradient(to bottom, #00d0ff, #007691);
  overflow: hidden; /* Impede a exibição da barra de rolagem */
}

canvas{
  border-radius: 15px;
  border: solid #007691 4px;
  box-shadow: 0 0 25px #000;
}